span {
    font-weight: bold;
    text-transform: uppercase;
}

.hero {
    text-align: left;
    padding: 40px 150px;
    background-color: lightgreen;
}

.hero-subtitle {
    font-size: 1.2em;
    text-transform: uppercase;
}

.hero-title {
    font-size: 2.5em;
}

.hero-description {
    font-size: 1.1em;
}
